@tailwind base;
@tailwind components;
@tailwind utilities;

/* 极简的全局配置，不干扰页面的 Flex 居中 */
body {
  background-color: #e2e8f0;
  color: #1e293b;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

input:focus {
  outline: none;
}